/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.modal-dialog-scrollable .modal-content {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  top: 0;
  right: 0;
}
